<footer class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>About</h5>
        <ul class="list-unstyled text-white">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Crazy-Deals Stories</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">D-KArt Wholesale</a></li>
          <li><a href="#">Cleartrip</a></li>
          <li><a href="#">Corporate Information</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Help</h5>
        <ul class="list-unstyled">
          <li><a href="#">Payments</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Cancellation & Returns</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Report Infringement</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Consumer Policy</h5>
        <ul class="list-unstyled">
          <li><a href="#">Cancellation & Returns</a></li>
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Grievance Redressal</a></li>
          <li><a href="#">EPR Compliance</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Social</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Facebook</a></li>
          <li class="list-inline-item"><a href="#">Twitter</a></li>
          <li class="list-inline-item"><a href="#">YouTube</a></li>
        </ul>
        <h5>Contact Information</h5>
        <address>
          Crazy-Deals Internet Private Limited, Buildings Alyssa, Begonia & Clove, Embassy Tech Village,
          Outer Ring Road, Devarabeesanahalli Village, Bengaluru, 560103, Karnataka, India
        </address>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2007-2023 Crazy-Deals.com</p>
      </div>
    </div>
  </div>
</footer>
